<section id="aboutus" class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class=" text-5xl font-bold my-5 text-rose-400"> Nosotros</h2>
    <p class="text white-700">Somos una familia de humanos que tienen ratas como animales de compañía desde hace 12 años. Durante este tiempo, fuimos conociendo a las ratas, sus conductas, su empatía, la personalidad de cada una, etc. Nos pareció importante sumar nuestra experiencia para que más personas aprendan sobre las ratas y se liberen de sus prejuicios. Nuestra misión es aportar al mundo, más empatía y cuidado desde el conocimiento. </p>
</section>