<section id="aboutus" class="bg-zinc-900 p-20 rounded-xl my-4">
    <h2 class=" text-5xl font-bold my-5 text-rose-400"> Quienes somos</h2>
    <p class="text white-700">Somos una familia de humanos que tienen ratas como animales de compañía desde hace 12 años. Siempre en pares, o más, para que no se sientan solas. En el 2018 cerramos nuestra página de Facebook "Ratitas Punks" y nos mudamos a nuestro propio sitio. A lo largo de los años, fuimos conociendo a las ratas, sus conductas, su empatía, la personalidad de cada una, los gestos, etc. Nuestras ratas en particular, conviven con un señor gato con el que se llevan muy bien.</p>
</section>