

<header class="bg-zinc-900 flex flex-col md:flex-row text/justify p-20 gap-3 rounded-xl">
    <div class="order-last md:order-1">
        <h1 class="text-5xl font-bold pd-2 text-rose-400">RAT FRIENDLY</h1>
        <p class=" my-4 text-2xl">El sitio para los humanos que tienen ratas</p>

       
    </div>
    <img src="images/roertito.jpg" alt="ratas" class="w-96 order-first md:order-2 min-h-fit rounded-full hover:">
</header>

