<section class="flex flex-col bg-rose-300/100  md:flex-row md:p-15 py-10 gap-y-10">
    <div class="flex-1 grid grid-cols-2 gap-5">
             <a href="/vets" class="btn text-center mix-blend-overlay hover:mix-blend-normal">
            <img src="../images/cuidado.png" class="giro w-40 m-auto rounded-full">
            <p class="mt-4 font-bold">SALUD Y CUIDADO</p>
          </a>
          <a href="/vets" class="text-center mix-blend-overlay hover:mix-blend-normal"><img src="../images/veterianaria_de_ratas.jpg" class="giro w-40 m-auto rounded-full"> <p class="mt-4 font-bold">VETERINARIAS</p></a>
          <a href="/tienda" class="text-center mix-blend-overlay hover:mix-blend-normal">
            <img src="../images/productos.png" class="giro w-40 m-auto rounded-full">
            <p class="mt-4 font-bold">TIENDA</p>
          </a>
          <a href="/adopciones" class="text-center mix-blend-overlay hover:mix-blend-normal">
          <img src="../images/adopciones.png" class="giro w-40 m-auto rounded-full">
          <p class="mt-4 font-bold">ADOPCIONES</p>
          </a>
    </div>

    <div class="flex flex-1 flex-col gap-y-4 text-center self-center ">
      
        <h2 class="text-5xl font-bold ">TODO SOBRE RATAS</h2>
        <section class="titulos">
        <ul>
          <a href="#">post 1</a>
          <a href="#">post 2</a>
          <a href="#">post 3</a>
          <a href="#">post 4</a>
          <a href="#">post 5</a>
          <a href="#">post 6</a>
          <a href="#">post 7</a>
        </ul>
      </section>
        <button class="bg-sky-500/75 m-4 px-3 py-4 hover:bg-gradient-to-b from-cyan-300 to-red-300 font-bold rounded-xl">
            +Artículos
            </button>
          
    </div>
    
</section>
<style>
  .giro {
  transform-origin: center;
  transition: transform 2s;
  transform: rotate(0deg);
}

    .giro:active,
    .giro:focus {
  transform: rotate(45deg);
}
    @media (hover:hover){
            .giro:active{
            transform:rotate(45deg)
        }
    }
</style>