---
import Layout from "../layouts/Layout.astro"
import SearchInput from '../components/SearchInput.astro'

let pageTitle = 'Search';
let pageDescription = 'Search all Articles';
let seoTitle = 'Search | Creek';
let seoDescription = '';
---

<html lang="en">
  <head>
    <Layout title={seoTitle} description={seoDescription} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
   
    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3" content>
       
        <SearchInput />
      </article>
    </main>
    
  </body>
</html>