---
import Button from "./subscribebtn";
---

<footer class="bg-zinc-900 py-10 gap-4 mt-4">
    
    <div class="container mx-auto flex flex-col justify-evenly md:flex-row text-center md:text-left gap-4 ">
        <div>
            <Button client:visible />
        </div>
        <div>
            
            <h4 class="font-bold text-xl">Mapa del sitio</h4>
            <p><a href="/">Home</a></p>
            <p><a href="/places">Rat Friendly</a></p>
            <p><a href="/vets">Salud de las ratas</a></p>
            <p><a href="#">Foro</a></p>
            
        </div>
        <div>
            <h4 class="font-bold text-xl">Redes Sociales</h4>
            <p><a href="https://odysee.com/@Roerto:8">Odysee</a></p>
            <p><a href="https://instagram.com/ratfriendlyoficial">Instagram</a></p>
            <p><a href="https://t.me/ratfriendly">Telegram</a></p>
        </div>
        <div>
            <h4 class="font-bold text-xl">Sitios Amigos</h4>
            <p><a href="https://cybercounselor.dev">Cybercounselor</a></p>
            <p><a href="#">Disponible</a></p>
            <p><a href="#">Disponible</a></p>
        </div>
        
        
</div>
<p class="text-center m-3">©2023 Cybercounselor</p>
</footer>